@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/root/root.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-wrapper/profile__avatar-wrapper.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__info-wrapper/profile__info-wrapper.css);
@import url(./blocks/profile/__info-name/profile__info-name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__info-job/profile__info-job.css);
@import url(./blocks/profile/__add-buttton/profile__add-buttton.css);
@import url(./blocks/gallery/__button-delete/gallery__button-delete.css);
@import url(./blocks/gallery/__button-delete/_hidden/gallery__button-delete_hidden.css);
@import url(./blocks/gallery/__cards/gallery__cards.css);
@import url(./blocks/gallery/__card/gallery__card.css);
@import url(./blocks/gallery/__card-image/gallery__card-imag.css);
@import url(./blocks/gallery/__card-description/gallery__card-description.css);
@import url(./blocks/gallery/__card-heading/gallery__card-heading.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/button-like/button-like.css);
@import url(./blocks/button-like/_active/button-like_active.css);
@import url(./blocks/button-like/__number/button-like__number.css);
@import url(./blocks/button-like/__container/button-like__container.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form-heading/popup__form-heading.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__form-content/popup__form-content.css);
@import url(./blocks/popup/__form-input/popup__form-input.css);
@import url(./blocks/popup/__form-input/_type/popup__form-input_type_error.css);
@import url(./blocks/popup/__form-button/popup__form-button.css);
@import url(./blocks/popup/__form-button/_inactive/popup__form-button_inactive.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/_place/_click-image/popup_place_click-image.css);
@import url(./blocks/new.css);