.gallery__button-delete {
  background: transparent;
  background-image: url(../../../images/trash.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  width: 18px;
  height: 19px;
  transition: opacity .5s linear;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}

.gallery__button-delete:hover {
  opacity: .6;
  cursor: pointer;
}
