.header {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  min-height: 119px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .header {
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 28px;
    min-height: 84px;
  }
}